* {
  margin: 0;
  padding: 0;
}

::selection{
  background: rgba(249,255,74,0.8);
  color: #333;
}

body,html {
  height: 100%;
}

body {
  font: 16px/1.1em "Segoe UI", Helvetica, sans-serif;
  overflow: hidden;
  background: url('bgnoise_lg.png');
  background: radial-gradient(50% 50%, farthest-side, rgba(1,1,1,0.3), rgba(255,255,255,0) 50%),
              url('bgnoise_lg.png');
  text-shadow: 0 0 1px rgba(255,255,255,0.1),
}

h1 {
  margin: 0 0 20px 0;
  font-size: 3em;
  letter-spacing: -1px;
  padding: 30px 20px;
  width: 574px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1),
               0 -1px rgba(0, 0, 0, 0.1),
               1px 0 rgba(0, 0, 0, 0.1),
               -1px 0 rgba(0, 0, 0, 0.1),
               1px 1px rgba(0, 0, 0, 0.1),
               -1px -1px rgba(0, 0, 0, 0.1);
}

#container {
  width: 600px;
  margin: 40px auto;
  border-radius: 15px;
  background: rgba(255,255,255,0.6);
  padding: 5px 20px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.3);
}

#wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#container a {
  border: 50px solid rgba(0,0,0,0.4);
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 25px 25px 0;
  float: left;
  background-image: url(android_icon_256.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px;
  border-radius: 200px;
  box-sizing:border-box;
  transition: border 0.3s ease-out;
}

#container a:hover {
  transition: border 0.3s ease-out;
}

#container a:hover:nth-child(1),
#container a:hover:nth-child(9) {
  border: 2px solid rgba(0,0,0,0.7);
}

#container a:hover:nth-child(2),
#container a:hover:nth-child(10) {
  border: 2px dotted rgba(0,0,0,0.7);
}

#container a:hover:nth-child(3),
#container a:hover:nth-child(11) {
  border: 2px dashed rgba(0,0,0,0.7);
}

#container a:hover:nth-child(4),
#container a:hover:nth-child(12) {
  border: 45px double rgba(0,0,0,0.7);
}

#container a:nth-child(5),
#container a:nth-child(10),
#container a:nth-child(15),
#container a:nth-child(20) {
  margin: 0 0 25px 0;
}

#container a:nth-child(5),
#container a:nth-child(6),
#container a:nth-child(7),
#container a:nth-child(8),
#container a:nth-child(13),
#container a:nth-child(14),
#container a:nth-child(15),
#container a:nth-child(16),
#container a:nth-child(19) {
  border: 50px solid rgba(255,255,255,0);
}

#container a:hover:nth-child(5),
#container a:hover:nth-child(13) {
  border: 0px solid rgba(0,0,0,1);
}

#container a:hover:nth-child(6),
#container a:hover:nth-child(14) {
  border: 0px dotted rgba(0,0,0,1);
}

#container a:hover:nth-child(7),
#container a:hover:nth-child(15) {
  border: 0px dashed rgba(0,0,0,1);
}

#container a:hover:nth-child(8),
#container a:hover:nth-child(16) {
  border: 45px double rgba(0,0,0,0.4);
}

#container a:nth-child(9),
#container a:nth-child(10),
#container a:nth-child(11),
#container a:nth-child(12),
#container a:nth-child(13),
#container a:nth-child(14),
#container a:nth-child(15),
#container a:nth-child(16) {
  border-radius: 0;
}

#container a:nth-child(17),
#container a:nth-child(18) {
  border-top: 50px solid rgba(0,0,0,0);
  border-right: 50px solid rgba(0,0,0,0.5);
  border-bottom: 50px solid rgba(0,0,0,0.5);
  border-left: 50px solid rgba(0,0,0,0);
}

#container a:nth-child(18) {
  border-radius: 0;
}

#container a:hover:nth-child(17),
#container a:hover:nth-child(18) {
  border-top: 50px solid rgba(0,0,0,0.5);
  border-right: 50px solid rgba(0,0,0,0);
  border-bottom: 50px solid rgba(0,0,0,0);
  border-left: 50px solid rgba(0,0,0,0.5);
}

#container a:hover:nth-child(19),
#container a:nth-child(20) {
  border-top: 50px dotted rgba(0,0,0,0.5);
  border-right: 50px dotted rgba(0,0,0,0);
  border-bottom: 50px dotted rgba(0,0,0,0);
  border-left: 50px dotted rgba(0,0,0,0.5);
}

#container a:hover:nth-child(20) {
  border: 0px solid rgba(0,0,0,1);
}


footer {
  position: absolute;
  bottom: 0;
  width: 210px;
  background: rgba(0, 0, 0, 0.1);
  color: #444;
  padding: 20px 15px;
  font-size: 0.8em;
}

footer ul,
footer li {
  list-style: none;
  text-align: left;
}

footer a {
  text-decoration: none;
  color: #0072BC;
}

footer a:hover {
  border-bottom: 1px dotted #0072BC;
}